@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Fonts/Poppins/Poppins-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../Fonts/Poppins/Poppins-SemiBold.ttf") format('ttf');
}