@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./fonts.css');

:root{
    --bg-color: #fff;
    --text-color: #000;
    --text-pr-color: #4C40F7; 
    --text-pr-color-hv: #6f65f6;
    --text-sc-color: #6B6B6B;
    --text-sc-color-hv: #8f8d8d;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

/* Main | Content */
main{
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: clamp(2em, 5vw, 3.4em);
    line-height: clamp(1.28em, 5vw, 72px);
}
h2{
    font-size: clamp(1.75em, 5vw, 38px);
}
h3{
    font-size: 20px;
}

/* Text block */
.text-block{
    text-align: center;
}
.text-block > h3{
    color: #FF2D59;
}
.text-block > h2{
    color: #111029;
}

/* Primary button */
.btn{
    display: inline-flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: #4C40F7;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    color: #fff;
    filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.25));
    transition: all .1s linear;
    line-height: 26px;
}
.btn:hover{
    background: #6f65f6;
}

/* Container with width 1120px */
.container{
    width: min(100% - 10px, 1120px);
    margin-inline: auto;
}

/* -- Header -- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: transform 0.4s;
    background-color: var(--bg-color);
}

.menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 16px 0;
}
/* logo */
.logo{
    font-size: 20px;
    /* line-height: 26px; */
}
/* navigation wrapper */
.nav{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;
}
/* navigation links */
.nav > li{
    color: var(--text-sc-color);
    transition: all .1s;
}
.nav > li.active{
    color: var(--text-pr-color);
}
.nav > li:hover{
    color: var(--text-sc-color-hv);
}
.nav > li.active:hover{
    color: var(--text-pr-color-hv);;
}
/* Hider header */
.scroll-down .header {
    transform: translate3d(0, -100%, 0);
}
/* Show header */
.scroll-up .header {
    transform: none;
}
/* Burger button */
#nav-icon{
    width: 40px;
    height: 30px;
    position: relative;
    
    display: none;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon::selection, #nav-icon span::selection{
    display: none;
    opacity: 0;
}

#nav-icon:hover ~ #nav-icon span{
    background: var(--text-sc-color-hv);
}
  
#nav-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--text-sc-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

  
#nav-icon span:nth-child(1) {
    top: 0px;
}
  
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
}
  
#nav-icon span:nth-child(4) {
    top: 24px;
}
  
#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}



/* Intro block */
section.intro{
    min-height: 100vh;
    /* height: 100vh; */
    overflow: hidden;
}
.intro-wrapper{
    display: flex;
    position: relative;
    width: 100%;
}
.intro-text{
    position: relative;
    z-index: 2;
    width: 58%;
    margin-top: 26vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    letter-spacing: -0.4px;
}
.intro-text h1 > span{
    color: #FF6800;
}
.intro-text > p{
    width: 68%;
}
.intro-img{
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 16vh;
    right: -17%;
}
.intro-img > img{
    width: 100%;
}


.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 45px;
}
.card{
    width: 31.75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;

    line-height: 28px;

    box-shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
}
.card.active{
    color: #fff;
    background-color: #4C40F7;
    box-shadow: -10px 30px 70px rgba(76, 64, 247, 0.5);
}
.card .card-img{
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.card:nth-child(1) > .card-img{
    background: #fff;
    filter: drop-shadow(0px 15px 30px #372DBC);
}
.card:nth-child(2) > .card-img{
    background: #FF2D59;
    filter: drop-shadow(0px 15px 30px rgba(255, 45, 89, 0.4));
}
.card:nth-child(3) > .card-img{
    background: #4C40F7;
    filter: drop-shadow(0px 15px 30px rgba(76, 64, 247, 0.4));
}
.card:nth-child(4) > .card-img{
    background: #FFC700;
    filter: drop-shadow(0px 15px 30px rgba(255, 204, 0, 0.4));
}
.card:nth-child(5) > .card-img{
    background: #007BFF;
    filter: drop-shadow(0px 15px 30px rgba(0, 123, 255, 0.4));
}
.card:nth-child(6) > .card-img{
    background: #FF6800;
    filter: drop-shadow(0px 15px 30px rgba(255, 104, 0, 0.4));
}
.card-btn{
    background: #F3F4F6;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .1s linear;
}
.card-btn:hover{
    background: #e8e7e7;
}
.card-btn svg{
    width: 20px;
    height: auto;
}

/* Video block */
.video-wrapper{
    margin-top: 50px;
}
.video-wrapper > img{
    width: 100%;
}


/* Why We Block */
section.whywe{
    background: #F9F9FD;
    padding: 105px 0;
}
.ww-wrapper{
    display: flex;
    gap: 40px 80px;
}
.ww-statistics{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
    width: 60%;
}
.ww-card{
    padding: 40px 28px;
    background: #fff;
    text-align: center;
    width: calc(50% - 20px);
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.ww-card:nth-child(1){
    margin-top: 50px;
    color: #4C40F7;
}
.ww-card:nth-child(2){
    color: #FF6800;
}
.ww-card:nth-child(3){
    color: #FF2D59;
}
.ww-card:nth-child(4){
    color: #4C40F7;
    margin-top: -50px;
}
.ww-card h1{
    margin-bottom: 20px;
}
.ww-card p{
    color: #6B6B6B;
}
.ww-text{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 45%;
}
.ww-text > h1{
    font-size: clamp(2em, 5vw, 50px);
}

.ww-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ww-list, .ww-text p{
    color: #6B6B6B;
}

.ww-list li{
    display: flex;
    align-items: center;
    gap: 24px;
}
.ww-list li::marker{
    width: 100%;
    height: 24px;
}

/* Galary block */
.galary-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 32px;
    height: 720px;
    margin-top: 50px;
}
.gl-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gl-img{
    overflow: hidden;
    border-radius: 6px;
}
.gl-img.item1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.gl-img.item2{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.gl-img.item3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.gl-img.item4{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.gl-img.item5{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
.gl-img.item6{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
}


/* Footer */
footer{
    position: relative;
}
footer>div:first-child{
    position: absolute;
    z-index: 3;
    top: -25%;
    right: 0;
    left: 0;
}
.prefooter{
    width: 100%;
    background: #4C40F7;
    padding: 60px 100px 80px;
    color: #fff;
    border-radius: 20px;
}
.prefooter a{
    transition: all .1s;
}
.prefooter a:hover{
    opacity: 0.8;
}
.prefooter h3{
    margin-bottom: 12px;
}
.prefooter > h1, h2, h3{
    text-align: center;
}
.prefooter > ul >li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
}
.prefooter .logo{
    display: flex;
    align-items: center;
}

.footer{
    background: #00113B;
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 250px;
    position: relative;
    z-index: 2;
    margin-top: 350px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    row-gap: 56px;
}
.f-col1, .f-col2, .f-col3{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.f-logo{
    font-size: 22px;
}
.f-col1{
    max-width: 360px;
}
.f-col2 > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px 24px;
}

.f-col3-wrapper{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-wrapper p, .footer-wrapper .name, .f-col-link{
    opacity: 0.75;
    transition: all .1s;
}
.name:hover{
    opacity: 0.9;
}
.f-col-link:hover{
    opacity: 0.9;
}

.link a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.link-logo{
    display: flex;
    align-items: center;
}

.f-col3{
    max-width: 280px;
}

.after-footer{
    background: #00113B;
    color: #fff;
    font-size: 16px;
    padding-top: 25px;
}
.copy, .af-link{
    opacity: 0.75;
    transition: all .1s;
}
.after-footer > div{
    display: flex;
    gap: 16px 0;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding: 18px 0;
}
.af-links{
    display: flex;
    gap: 8px 24px;
}
.af-link:hover{
    opacity: 1;
}
@media (max-width:1200px) {
    .intro-img{
        right: -14%;
    }
}
@media (max-width:950px) {
    .ww-wrapper{
        flex-direction: column;
    }
    .ww-text{
        width: 100%;
    }
    .ww-statistics{
        width: 100%;
    }
}
@media (max-width:850px) {
    .card{
        width: 49%;
        max-width: 400px;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .f-col1{
        max-width: 100%;
    }
    .f-col2 > ul{
        flex-direction: row;
    }
    .f-col3{
        max-width: 100%;
    }
    footer>div:first-child{
        top: -16%;
    }
    .after-footer > div{
        justify-content: space-between;
        flex-direction: column;
        padding: 18px 0;
    }
    .af-links{
        flex-direction: column;
    }
}

@media (max-width: 740px) {
    .menu-wrapper > .nav, .menu-wrapper > .btn{
        display: none;
    }
    #nav-icon{
        display: block;
    }
    .intro-wrapper{
        flex-direction: column-reverse;
    }
    .intro-img{
        position: static;
        margin-top: 10vh;
        width: 100%;
    }
    .intro-text{
        margin-top: 0;
        width: 100%;
    }
    .intro-text > p{
        width: 100%;
    }
    .logo{
        font-size: 22px;
    }
    .prefooter{
        padding: 30px 50px 40px;
    }
}

@media (max-width:600px) {
    .card{
        width: 99%;
        max-width: 500px;
    }
    .cards-wrapper{
        justify-content: center;
    }
    .ww-statistics{
        flex-direction: column;
    }
    .ww-card{
        width: 100%;
        margin: 0 !important;
    }
}